# Archivos cache de Python
__pycache__/

#Entorno virtual
.venv/
venv/

# Archivos antiguos de prueba
app_test.py
app_2007.py


# ── Archivos markdown de notas de desarrollo ─────────
Commits_Recomendados.md

# ── Archivos antiguos de la RNA ─────────
Datos1/
Datos2/
Datos3/
Datos4/
Datos5/

# ── Cache de K-Means muy grande para subir ─────────
predicciones_kmeans.parquet

# ── Script de analisis para el documento de teesis ─────────
Scripts/
Exports/